*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/wraper.png);
  overflow: auto;
  font-family: cursive;
}
.sectionOne-all-games,
.sectionTwo-details {
  width: 100%;
  overflow: hidden;
}
.loading {
  width: 100%;
  height: 100vh;
  background: rgba(102, 51, 153, 0.2);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #a805f4;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-left: 4px solid #44ea66;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
ul {
  list-style: none;
}
.btn-main,
.btn-main:hover,
.btn-main:focus {
  color: yellow !important;
  background-color: rgba(145, 51, 238, 0.7) !important;
}
/* /////////////////////////////////// */
.my-nav {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.navbar-toggler,
.navbar-toggler:focus {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: #b045f3 solid 3px;
  box-shadow: none;
}
.nav-item {
  text-align: center;
}
.navbar-brand {
  font-size: 35px;
  font-weight: 700;
  color: #7bff00 !important;
}
.nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 20px;
  font-weight: 500;
}
.nav-link.active {
  color: yellow !important;
  background-color: rebeccapurple;
  border-radius: 5px;
}
.content {
  background-color: rgba(131, 6, 255, 0.2);
}
.contact {
  width: 100%;
  height: 100vh;
}
.border-style {
  border: solid rgba(0, 0, 0, 0.1);
  background-color: #272b30;
  height: 100%;
}
.card {
  transition: all 1s;
}
.card:hover {
  transform: scale(1.05);
  transition: all 1s;
}
.the-image img {
  filter: grayscale(70%);
  transition: all 1s;
  width: 100%;
}
.card:hover .the-image img {
  filter: grayscale(0);
}
.change-color {
  background-color: rgba(145, 51, 238, 0.3);
  border: solid rgba(145, 51, 238, 0.3);
  color: rgba(255, 255, 0, 0.3) !important;
  transition: all 1s;
}
.card:hover .change-color {
  background-color: rgba(145, 51, 238, 0.7);
  border: solid rgba(145, 51, 238, 0.7);
  color: yellow !important;
}
.card:hover .h2-font {
  color: rgb(209, 140, 246) !important;
}
.card:hover .span-font-main {
  color: rgb(66, 66, 65);
  background-color: rgb(255, 255, 255);
}
/* fonts  allcategories()*/
.the-purple {
  color: rgb(209, 140, 246);
  font-weight: 500;
  font-size: 28px;
}
h1 {
  font-weight: 700;
  color: #7bff00;
  font-size: 70px;
}
.h2-font {
  font-weight: 500;
  color: rgba(211, 174, 231, 0.689);
  font-size: 28px;
  transition: all 1s;
}
.h3-font {
  font-weight: 400;
  color: rgb(230, 223, 182);
  font-size: 16px;
}
.p-font {
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.span-font {
  font-weight: 700;
  color: rgb(230, 223, 182);
  background-color: rgba(61, 94, 51, 0.914);
  font-size: 15px;
}
.span-font-main {
  font-weight: 700;
  color: rgba(66, 66, 65, 0.441);
  background-color: rgba(255, 255, 255, 0.426);
  font-size: 15px;
  transition: all 1s;
}
.button-font {
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
/* media query */
@media (max-width: 768px) {
  .content {
    width: 80%;
    top: 50%;
    left: 10%;
    padding: 5px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .contact-content {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .content {
    width: 60%;
    top: 40%;
    left: 20%;
    padding: 10px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 30px;
  }
  .contact-content {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .content {
    width: 60%;
    top: 40%;
    left: 20%;
    padding: 15px;
  }
  h1 {
    font-size: 70px;
  }
  p {
    font-size: 30px;
  }
  .contact-content {
    width: 50%;
  }
}
